/* ------------- Estilos Generales del Panel Administrativo ------------ */

:root {
    --sidebar-width: 260px;
}

body {
    background-color: var(--neutral-100);
    min-height: 100vh;
}

.admin-wrapper {
    display: flex;
    min-height: 100vh;
}

.admin-content {
    flex-grow: 1;
    padding: 2.5rem;
    background-color: #fafaf5f5;
    min-height: 100vh;
    overflow-y: auto;
    min-width: 0;
    /* Evita desbordamiento de tablas/grillas */
}

@media (max-width: 992px) {
    .admin-wrapper {
        flex-direction: column;
    }

    .admin-content {
        padding: 1.5rem;
    }
}